<a href="https://colab.research.google.com/github/BrentBacar/58002-OOP/blob/main/LoopingStatments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [1]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For loop using break statement

In [3]:
for x in week:
  print(x)
  if x== "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

for x in weeks

In [13]:
if x == "Thursday":
    print(x)
    break
     
Thursday
Range() Function


for x in range(6):
  print(x)

SyntaxError: ignored

nested loops

In [11]:
adjective = ["Red", "Big", "Tasty"]
fruits = ["Apple", "Banana", "Cherry"]
for x in adjective:
  for y in fruits:
    print(x,y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

while loop

In [12]:
i = 1
while i <= 6:
  print(i)
  i += 1

1
2
3
4
5
6

While Loop using Break Statement

In [15]:
i = 1
while i <= 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Display Only 3

In [14]:
i = 1
while i <= 6:
  if i == 3:
    print(i)
    break
  i += 1

3

Create a Python Program that displays

In [16]:
x = 0 
while x <=10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10